<div data-block="content">
    <div data-form="libro">
        <!-- Primera fila -->
        <div class="row mb-3">
            <div class="col-4">
                <label for="titulo">Título:</label>
                <input type="text" class="form-control" value="Escriba aquí..." id="titulo" name="titulo" required>
            </div>
            <div class="col-3">
                <label for="autor">Autor:</label>
                <input type="text" class="form-control" value="Escriba aquí..." id="autor" name="autor" required>
            </div>
            <div class="col-3">
                <label for="editorial">Editorial:</label>
                <input type="text" class="form-control" value="Escriba aquí..." id="editorial" name="editorial" required>
            </div>
        </div>

        <!-- Segunda fila (Descripción a la izquierda, Siglas Autor y CDU a la derecha en una columna) -->
        <div class="row mb-3">
            <div class="col-4">
                <label for="descripcion">Descripción:</label>
                <textarea class="form-control textarea-wrapper" id="descripcion" name="descripcion" rows="5">Escriba aquí...</textarea>
            </div>
            <div class="col-3">
                <label for="siglas_autor">Siglas Autor:</label>
                <input type="text" class="form-control mb-3" value="Escriba aquí..." id="siglas_autor" name="siglas_autor">
                
                <label for="cdu">CDU:</label>
                <input type="text" class="form-control" value="Escriba aquí..." id="cdu" name="cdu">
            </div>
            <div class="col-2"></div>
            <div class="col-3"></div>
        </div>

        {% include 'components/form_ejemplares.html' %}
    </div>
</div>
