<div data-block="content">
    <div data-form="mapa">
        <div class="row mb-3">
            <div class="col-4">
                <label for="sede">Sede:</label>
                <input type="text" class="form-control" id="sede" name="sede" required placeholder="Escriba aquí...">
            </div>
            <div class="col-4">
                <label for="tipo">Tipo de mapa:</label>
                <input type="text" class="form-control" id="tipo" name="tipo" required placeholder="Ej: Político, Físico, Temático...">
            </div>
            <div class="col-4">
                <label for="cant_ejemplares">Cantidad de ejemplares:</label>
                <input type="number" class="form-control" id="cant_ejemplares" name="cant_ejemplares" min="1" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4">
                <label for="n_registro">N° de registro:</label>
                <input type="text" class="form-control" id="n_registro" name="n_registro" required placeholder="Escriba aquí...">
            </div>
            <div class="col-4">
                <label for="denominacion">Denominación:</label>
                <input type="text" class="form-control" id="denominacion" name="denominacion" required placeholder="Escriba aquí...">
            </div>
            <div class="col-4">
                <label for="descripcion">Descripción:</label>
                <textarea class="form-control textarea-wrapper" id="descripcion" name="descripcion" required placeholder="Escriba aquí..."></textarea>
            </div>
        </div>
    </div>
</div>