<div data-block="content">
    <div data-form="proyector">
        <div class="row mb-3">
            <div class="col-3">
                <label for="sede">Sede:</label>
                <input type="text" class="form-control" id="sede" name="sede" required placeholder="Sede...">
            </div>
            <div class="col-3">
                <label for="cant_ejemplares">Cantidad de ejemplares:</label>
                <input type="number" class="form-control" id="cant_ejemplares" name="cant_ejemplares" min="1" required>
            </div>
            <div class="col-3">
                <label for="n_registro">N° de registro:</label>
                <input type="text" class="form-control" id="n_registro" name="n_registro" required placeholder="N° de registro...">
            </div>
            <div class="col-3">
                <label for="modelo">Modelo:</label>
                <input type="text" class="form-control" id="modelo" name="modelo" required placeholder="Modelo...">
            </div>
        </div>
</div>
