<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Varios</title>
</head>
<div data-form="varios">
    <div class="row mb-3">
            <div class="col-3">
                <label for="sede">Sede:</label>
                <input type="text" class="form-control" id="sede" name="sede" required placeholder="Sede...">
            </div>
            <div class="col-3">
                <label for="tipo">Tipo:</label>
                <input type="text" class="form-control" id="tipo" name="tipo" required placeholder="Ej: Político, Físico, Temático...">
            </div>
            <div class="col-3">
                <label for="cant_ejemplares">Cantidad de ejemplares:</label>
                <input type="number" class="form-control" id="cant_ejemplares" name="cant_ejemplares" min="1" required>
            </div>
            <div class="col-3">
                <label for="n_registro">N° de registro:</label>
                <input type="text" class="form-control" id="n_registro" name="n_registro" required placeholder="N° de registro...">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label for="denominacion">Denominación:</label>
                <input type="text" class="form-control" id="denominacion" name="denominacion" required placeholder="Denominación...">
            </div>
            <div class="col-6">
                <label for="descripcion">Descripción:</label>
                <textarea class="form-control textarea-wrapper" id="descripcion" name="descripcion" required placeholder="Descripción..."></textarea>
            </div>
        </div>
    </form>
</div>