<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar Todos los Libros</title>
</head>
<body>
    <h1>Confirmar Borrado de Todos los Libros</h1>
    <p>¿Estás seguro de que deseas borrar todos los libros de la base de datos?</p>
    <form action="{% url 'borrar_libros' %}" method="post">
        {% csrf_token %}
        <button type="submit">Borrar Todos los Libros</button>
    </form>
    <a href="{% url 'lista_libros' %}">Cancelar</a>
</body>
</html>
