<form id="form_alta_programa" method="POST" action="">
  {% csrf_token %}
  {% load static %}
  <div data-block="content" data-form-type="programa">
    <div class="row mb-3">
      <div class="col-2">
        <label for="profesor">Profesor/a</label>
        <input type="text" class="form-control" id="profesor" name="profesor" required placeholder="Nombre completo del profesor/a">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-2">
        <label for="url">Ingresar enlace (URL) <span class="text-danger">*</span></label>
        <div class="input-group">
            <input type="url" class="form-control" id="url" name="url" required placeholder="URL del programa">
        </div>
      </div>
      <div class="col-md-2">
        <label for="carrera">Carrera <span class="text-danger">*</span></label>
        <select class="form-control" id="carrera" name="carrera" required>
          <option value="">Seleccionar Carrera</option>
          <option value="Análisis de Sistemas">Tecnicatura Superior en Análisis de Sistemas</option>
          <option value="Ciencias Políticas">Profesorado de Educación Secundaria en Ciencias Políticas</option>
          <option value="Geografía">Profesorado de Educación Secundaria en Geografía</option>
          <option value="Educación Inicial">Profesorado de Educación Inicial</option>
          <option value="Educación Primaria">Profesorado de Educación Primaria</option>
          <option value="Otra">Otra carrera</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="materia">Materia <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="materia" name="materia" required 
               placeholder="Nombre completo de la materia">
      </div>
    </div>
    <!-- Contenedor para los ejemplares -->
    <div id="contenedor-ejemplares-programa" class="mb-4">
      <!-- Los ejemplares se generarán aquí dinámicamente -->
    </div>
  </div>
</form>

<!-- Importación del JS dinámico de ejemplares -->
<script src="{% static 'js/form_altas.js' %}"></script>
<script src="{% static 'js/form_controller.js' %}"></script>