{% load static %}
<link rel="stylesheet" href="{% static 'materiales/css/alta_notebook.css' %}">
<div data-block="content" data-form-type="notebook">
    <form id="form_alta_material" action="{% url 'confirmacion_alta_notebook' %}" method="POST">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="cant_ejemplares" class="form-label small">Cant. de ejemplares <span class="text-danger">*</span></label>
                <input type="number" class="form-control form-control-sm" id="cant_ejemplares" name="num_ejemplar" min="1" value="1" required>
            </div>

            <div class="col-md-3">
                <label for="sede" class="form-label small">Sede: <span class="text-danger">*</span></label>
                <select class="form-control form-control-sm" id="sede" name="sede" required>
                    <option value="">Seleccione una sede</option>
                    <option value="La Plata">La Plata</option>
                    <option value="Abasto">Abasto</option>
                </select>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="num_registro" class="form-label small">N° de Registro <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" id="num_registro" name="num_registro" required>
            </div>
            
            <div class="col-md-3">
                <label for="modelo_not" class="form-label small">Modelo <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" id="modelo_not" name="modelo_not" required>
            </div>
        </div>

        <!-- Contenedor para mostrar los tipos agregados -->
        <div id="contenedor-tipos-notebook" class="mb-4">
            <!-- Los tipos se mostrarán aquí dinámicamente -->
        </div>
        
        <!-- Contenedor para los ejemplares -->
        <div id="contenedor-ejemplares-notebook" class="mb-4">
            <!-- Los ejemplares se generarán aquí dinámicamente -->
        </div>
        
        <!-- Botones -->
        <div class="row">
            <div class="col-12 d-flex justify-content-end gap-3">
                <button type="reset" class="btn btn-outline-danger btn-sm">Cancelar</button>
                <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
            </div>
        </div>
    </form>
</div>

<!-- El modal de confirmación ahora se encuentra en confirmacion_alta_notebook.html -->


<!-- Importación del JS dinámico de ejemplares -->
<script src="{% static 'js/form_altas.js' %}"></script>
