{% extends 'components/baseb.html' %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/manual_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/botones.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% if success %}
        <div class="alert alert-success">{{ success }}</div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form id="form_alta_material" action="{% url 'alta_libro' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Campos principales -->
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-6 form-group mb-3">
                <label for="{{ form.titulo.id_for_label }}" class="text-input" style="color:#25898D;">Título:</label>
                {{ form.titulo }}
                {% if form.titulo.errors %}
                    <div class="text-danger">{{ form.titulo.errors }}</div>
                {% endif %}
            </div>
            <div class="col-12 col-sm-6 col-lg-6 form-group mb-3">
                <label for="{{ form.descripcion.id_for_label }}" class="text-input" style="color:#25898D;">Descripción:</label>
                {{ form.descripcion }}
                {% if form.descripcion.errors %}
                    <div class="text-danger">{{ form.descripcion.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 form-group mb-3">
                <label for="{{ form.autor.id_for_label }}" class="text-input" style="color:#25898D;">Autor:</label>
                {{ form.autor }}
                {% if form.autor.errors %}
                    <div class="text-danger">{{ form.autor.errors }}</div>
                {% endif %}
            </div>
            <div class="col-12 col-sm-6 col-lg-4 form-group mb-3">
                <label for="{{ form.editorial.id_for_label }}" class="text-input" style="color:#25898D;">Editorial:</label>
                {{ form.editorial }}
                {% if form.editorial.errors %}
                    <div class="text-danger">{{ form.editorial.errors }}</div>
                {% endif %}
            </div>
            <div class="col-12 col-sm-6 col-lg-4 form-group mb-3">
                <label for="{{ form.siglas_autor_titulo.id_for_label }}" class="text-input" style="color:#25898D;">Siglas Autor/Título:</label>
                {{ form.siglas_autor_titulo }}
                {% if form.siglas_autor_titulo.errors %}
                    <div class="text-danger">{{ form.siglas_autor_titulo.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 form-group mb-3">
                <label for="{{ form.clasificacion_cdu.id_for_label }}" class="text-input" style="color:#25898D;">Clasificación CDU:</label>
                {{ form.clasificacion_cdu }}
                {% if form.clasificacion_cdu.errors %}
                    <div class="text-danger">{{ form.clasificacion_cdu.errors }}</div>
                {% endif %}
            </div>
            <div class="col-12 col-sm-6 col-lg-8 form-group mb-3">
                <label for="{{ form.etiqueta_palabra_clave.id_for_label }}" class="text-input" style="color:#25898D;">Palabras clave:</label>
                {{ form.etiqueta_palabra_clave }}
                {% if form.etiqueta_palabra_clave.errors %}
                    <div class="text-danger">{{ form.etiqueta_palabra_clave.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 form-group mb-3">
                <label for="{{ form.num_inventario.id_for_label }}" class="text-input" style="color:#25898D;">Número de Inventario:</label>
                {{ form.num_inventario }}
                {% if form.num_inventario.errors %}
                    <div class="text-danger">{{ form.num_inventario.errors }}</div>
                {% endif %}
            </div>
            <div class="col-12 col-sm-6 col-lg-4 form-group mb-3">
                <label for="{{ form.sede.id_for_label }}" class="text-input" style="color:#25898D;">Sede:</label>
                {{ form.sede }}
                {% if form.sede.errors %}
                    <div class="text-danger">{{ form.sede.errors }}</div>
                {% endif %}
            </div>
            <div class="col-12 col-sm-6 col-lg-4 form-group mb-3">
                <label for="{{ form.disponibilidad.id_for_label }}" class="text-input" style="color:#25898D;">Disponibilidad:</label>
                {{ form.disponibilidad }}
                {% if form.disponibilidad.errors %}
                    <div class="text-danger">{{ form.disponibilidad.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-12 form-group mb-3">
                <label for="{{ form.observaciones.id_for_label }}" class="text-input" style="color:#25898D;">Observaciones:</label>
                {{ form.observaciones }}
                {% if form.observaciones.errors %}
                    <div class="text-danger">{{ form.observaciones.errors }}</div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-12 form-group mb-3">
                <label for="{{ form.img.id_for_label }}" class="text-input" style="color:#25898D;">Imagen:</label>
                {{ form.img }}
                {% if form.img.errors %}
                    <div class="text-danger">{{ form.img.errors }}</div>
                {% endif %}
            </div>
        </div>

        <!-- Botones -->
        <div class="row">
            <div class="col-12 d-flex justify-content-end gap-3">
                <button type="reset" class="btn btn-outline-danger btn-sm">Cancelar</button>
                <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block modals %}
  {% include 'modals/manual_modal.html' %}
  {% include 'modals/confirmacion_alta_material.html' %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/modals/confirmacion_alta_material.js' %}" defer></script>
{% endblock %}