:root {
    --navbar-height: 60px; /* Ajusta a la altura real del navbar */
    --footer-height: 60px; /* Ajusta a la altura real del footer */
    --header-height: 120px; /* Altura del header */
}

/* Eliminar márgenes y padding del body y html */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.layout-container {
    display: grid;
    height: 100vh; /* Altura total de la ventana */
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr; /* Asegura que todos los elementos ocupen todo el ancho */
    grid-template-areas: 
        "navbar"
        "content"
        "footer";
    gap: 0px; /* Espacio entre áreas del grid */
    padding: 0; /* Elimina el padding para asegurar que ocupe todo el ancho */
    margin: 0;
    width: 100vw;
    box-sizing: border-box;
}
.content {
    background-color: #ffffff; /* Color de fondo para el contenido */
    overflow-y: auto; /* Permite desplazamiento si el contenido es más largo */
    width: 100%; /* Asegura que el content ocupe todo el ancho */
}

.footer {
    background-color: #f8f9fa; /* Color de fondo para el footer */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Centra el texto en el footer */
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
}
