.fondo {
    background-color: #3A4481;
}

.icon {
    width: 50px;
    height: 50px;
    background-image: url('/static/imagenes/Logo_i210_fondo_trans.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.text-navbar {
    color: white !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.9px;
    text-align: left;

}
.icon-usuario {
    background-image: url('/static/imagenes/icon-usuario.png'); /* Asegúrate de que la URL sea correcta */
    width: 30px;  /* Ajusta el tamaño según tus necesidades */
    height: 30px; /* Ajusta el tamaño según tus necesidades */
    background-size: contain; /* Asegúrate de que la imagen se ajuste al contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    border: none; /* Elimina el borde del botón */
}

.navbar {
    background-color: #3A4481; /* Color del navbar */
    color: white; /* Color del texto del navbar */
}
.dropdown-menu {
    background-color: #3A4481; /* Mismo color que el navbar */
    color: white; /* Color del texto de los elementos */
}

.dropdown-item {
    color: white; /* Color de los enlaces en el menú desplegable */
}

.dropdown-item:hover {
    background-color: #2a2d6f; /* Color de fondo al pasar el mouse, un tono más oscuro */
    color: white; /* Asegúrate de que el texto siga siendo blanco */
}
