{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<div class="main-footer container-fluid">
    <div class="footer-links flex">
        <ul class="flex none-list-style">
            <li class="footer-item">
                <img class="logo-footer" src="{% static 'imagenes/Logo-UPCN.png' %}" alt="Logo UPCN">
            </li>
            <li class="footer-item">
                <img class="logo-footer" src="{% static 'imagenes/Logo-Educacion.png' %}" alt="Logo Educación">
            </li>
            <li class="footer-item">
                <img class="logo-footer" src="{% static 'imagenes/logo-cultura.png' %}" alt="Logo Cultura">
            </li>
        </ul>
    </div>
</div>