:root {
    --navbar-height: 60px; /* Ajusta a la altura real del navbar */
    --footer-height: 60px; /* Ajusta a la altura real del footer */
}

.layout-container {
    display: grid;
    height: 100vh; /* Altura total de la ventana */
    grid-template-rows: var(--navbar-height) auto 1fr var(--footer-height);
    grid-template-columns: 1fr; /* Asegura que todos los elementos ocupen todo el ancho */
    grid-template-areas: 
        "navbar"
        "header"
        "content"
        "footer";
    gap: 10px; /* Espacio entre áreas del grid */
    padding: 0; /* Elimina el padding para asegurar que ocupe todo el ancho */
}
.content {
    background-color: #ffffff; /* Color de fondo para el contenido */
    overflow-y: auto; /* Permite desplazamiento si el contenido es más largo */
    width: 100%; /* Asegura que el content ocupe todo el ancho */
}

.footer {
    background-color: #f8f9fa; /* Color de fondo para el footer */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Centra el texto en el footer */
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
}