{% load static %}
<link rel="stylesheet" href="{% static 'css/modals/confirmacion_carga_exitosa.css' %}">

<!-- Modal de Confirmación de Carga Exitosa -->
<div class="modal fade" id="modalConfirmacionCargaExitosa" tabindex="-1" aria-labelledby="modalConfirmacionExitosaLabel" aria-hidden="true" style="padding-top: 60px;">
  <div class="modal-dialog" style="max-width: 64%; width: 64%; margin: 0 auto;">
    <div class="modal-content" style="background-color: white !important;">
      <div class="modal-header">
        <h5 class="modal-title" id="modalConfirmacionExitosaLabel">¡TODO LISTO!</h5>
      </div>
      <div class="modal-body text-center">
        <h4>LA OPERACIÓN FUE COMPLETADA CON ÉXITO</h4>
      </div>
      <div class="modal-footer justify-content-center">
        <div class="d-flex justify-content-center gap-3 w-100">
          <a href="{% url 'alta_material' %}" id="btnVolverAltaMaterial" class="btn btn-info">CARGAR OTRO MATERIAL</a>
          <button type="button" id="btnVerEditarMaterial" class="btn btn-primary w-100">
  VOLVER A REVISAR<br>DATOS CARGADOS
</button>
          <a href="{% url 'home' %}" id="btnVolverInicio" class="btn btn-info">VOLVER A INICIO</a>
        </div>
      </div>
    </div>
  </div>
</div>
