{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<!-- Contenedor principal -->
<div class="wrapper">
    <!-- Contenido de la página -->
    <div class="content">
        <!-- Aquí va todo el contenido de la página -->
    </div>

    <!-- Footer -->
    <div class="main-footer container-fluid">
        <div class="footer-links flex">
            <ul class="flex none-list-style">
                <li class="footer-item">
                    <img class="logo-footer" src="{% static 'imagenes/Logo-UPCN.png' %}" alt="Logo UPCN">
                </li>
                <li class="footer-item">
                    <img class="logo-footer" src="{% static 'imagenes/Logo-Educacion.png' %}" alt="Logo Educación">
                </li>
                <li class="footer-item">
                    <img class="logo-footer" src="{% static 'imagenes/logo-cultura.png' %}" alt="Logo Cultura">
                </li>
            </ul>
        </div>
    </div>
</div>
