{% extends 'components/baseb.html' %}
{% load static %}

{% block title %}Inicio | Biblioteca Digital{% endblock %}

{% block extra_styles %}
<style>
    .logo-trans-background {
        background-image: url("{% static 'imagenes/LogoTrans.png' %}");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid position-relative">
    <div class="row d-flex align-items-center justify-content-center" style="padding-top: 5%;">
        
        <!-- Columna del logo -->
        <div class="col-lg-6 col-md-7 d-flex align-items-center justify-content-center logo-background">
            <img src="{% static 'imagenes/LogoBiblioteca.png' %}" alt="Logo Biblioteca" class="logo-img" style="margin-right: 10%">
        </div>
        
        <!-- Columna del fondo con los botones -->
        <div class="col-lg-6 col-md-5 d-flex justify-content-center align-items-center transparencia logo-trans-background">
            <!-- Contenedor de botones con superposición -->
            <div class="content-overlay d-flex flex-column justify-content-center align-items-start">
                <a class="btn btn-home mb-3" href="#" role="button">PRESTAMOS</a>
                <a class="btn btn-home mb-3" href="{% url 'alta_material' %}" role="button">ALTA MATERIAL</a>
                <a class="btn btn-home mb-3" href="#" role="button">MODIFICACION <br>MATERIAL</a>
            </div>
        </div>
    </div>       
</div>
{% endblock %}